<% include partials/header %>


<div class="container">
	<h1> Movie Details</h1>
	<p><img src="/images/<%= video.image %>"></p>
	<p> Title: <%= video.title %></p>
	<p> Genre: <%= video.genre%></p>
	<p> Destription: <%= video.description%></p>

    <form action="/videos/<%= video._id%>/edit" method="GET">
	    <button type="submit" class="btn btn-warning">Edit video</button>
    </form>

    <br>
    <form action="/videos/<%= video._id%>" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="DELETE" />
	    <button type="submit" class="btn btn-danger">Delete video</button>
    </form>
    <br>
	<p>
		<a href="/">Back to List</a>
	</p>
</div>

<% include partials/footer %>
