<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/addroom.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/strongpwd.js"></script>

	</head>

	<body>

		<div class="wrapper" style="background-image: url('images/bg-registration-form-1.jpg');">
			<div class="inner">
				<!-- <div class="image-holder">
					<img src="images/registration-form-1.jpg" alt="">
				</div> -->
                <form method="POST" action="/Edit">
					<h3>Edit Room</h3>
					<div class="form-wrapper">
                        <input type="text" name="room_name" id="room_name" class="form-control" required>
					</div>
					<div class="form-group">
                        <input type="number" name="total_num" id="total_num" class="form-control" required>
                        <input type="number" step=0.01 name="room_price" id="room_price" class="form-control" required>
					</div>

                    <% for(var i=1; i <= beds.length; i++) { %>
                    <div class="form-group">
                       
                        <select name="bed_type<%= i %>" id="bed_type<%= i %>" class="form-control">
                          <option value="twin bed">twin bed</option>
                          <option value="full bed">full bed</option>
                          <option value="queen bed">queen bed</option>
                          <option value="king bed">king bed</option>
                          <option value="ca king bed">ca king bed</option>
                          <option value="sofa bed">sofa bed</option>
                        </select>
                        <input type="number" name="number_of_beds<%= i %>" id="number_of_beds<%= i %>" class="form-control">
					</div>
                    <% } %>
                    <div class="row" style="width: 30%;">
                        <% for(var j=0; j < photos.length; j++) { %>
                        <div>
                            <img src="<%= photos[j].photo_address %>" alt="Free website template" class="img-fluid">
                        </div>
                        <% } %>
                    </div>

                    <button type="submit" id="submit">
					    Submit
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
	</body>
    <script>
        $(document).ready(function() {
            $('#room_name').val("<%= details.room_name %>");
            $('#total_num').val("<%= details.total_num %>");
            $('#room_price').val("<%= details.room_price %>");
            <% for(var k=0; k < beds.length; k++) { %>
                $('#bed_type<%= k+1 %>').val("<%= beds[k].bed_type %>");
                $('#number_of_beds1').val("<%= beds[k].number_of_beds %>");
            <% } %>
            $('#bed_type1').attr("required", true);
            $('#number_of_beds1').attr("required", true);
        });
    </script>
</html>
