<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Super Hotel Reservation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    
    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/result.css">
  </head>
  <body>
    <%- include partials/header.ejs %>   

    <section class="site-hero overlay" style="background-image: url(images/hero_4.jpg)" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade-up">
            <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To 5 <span class="fa fa-star text-primary"></span>   Hotel</span>
            <h1 class="heading">Search Result</h1>
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>
    <!-- END section -->

    <section class="section bg-light pb-0"  >
      <div class="container">
       
        <div class="row check-availabilty" id="next">
          <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

            <form id="searchform" action="/rooms" method="POST">
              <div class="row">
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="text" name="checkin_date" id="checkin_date" class="form-control" value="11 December, 2019">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="text" name="checkout_date" id="checkout_date" class="form-control" value="16 December, 2019">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                  <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="adults" class="font-weight-bold text-black">Adults</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="adults" id="adults" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4+</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="children" class="font-weight-bold text-black">Children</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="children" id="children" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 align-self-end">
                  <button id="checkavailable" class="btn btn-primary btn-block text-white">Check Availabilty</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- yuantai -->

    <section class="py-5 bg-light">
      <div class="container" align="center">
       
        <div class="row search-container form-wrapper" id="next" style="text-align:center;">
          <!-- <div class="block-32" data-aos="fade-up" data-aos-offset="-200"> -->
          <form id="searchform" action="/rooms" method="POST" align="center">
            <div class="row">
              <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                <div class="field-icon-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="bed_type" id="bed_type" class="form-control">
                        <option value="1">Bed Type</option>
                        <option value="2">Twin</option>
                        <option value="3">Full</option>
                        <option value="4">Queen</option>
                        <option value="4">King</option>
                        <option value="4">California king</option>
                      </select>
                    </div>
              </div>
              <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                <div class="field-icon-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="bed_number" id="children" class="form-control">
                        <option value="">Bed Number</option>
                        <option value="2">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
                    </div>
              </div>
              <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                <button class="btn btn-primary btn-block text-white" id="filter">Filter Room</button>
              </div>
              <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                <button class="btn btn-primary btn-block text-white" id="available" 
                        data-toggle="button" aria-pressed="false">Available Only</button>
              </div>
            </div>
          </form>
<!--           </div> -->
        </div>
        <br/>

        <!-- --------Temp -->
        <div class="form-wrapper" style="text-align:center;" data-aos="fade-up">
          <button id="all" class="btn btn-primary btn-block text-white" disabled="">Show All Rooms</button>
          <button id="only" class="btn btn-primary btn-block text-white">Show Only Available</button>
        </div>
        <br/>
       

        <% if (!userrole) { %> 
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">Please login first</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please login or sign up first.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/login" class="btn btn-success">Login</a>
                </div>
            </div>
        </div>
    </div>
    <% } %>

        <!-- ---------- -->

        <div id="ind_no_result" class="" data-aos="fade-up">
          <div class="form-wrapper" style="text-align:center;" data-aos="fade-up">
              <p id="no_res">No Result ...</p>
              <p id="res_sum"></p>
          </div>    
        </div>
        <br/>

        <div id="aval_rooms" class="row">
          
            
        </div>
        <br/>

        <div style="text-align:center;" id="pagination">
          <div class="pagination" id="page_start">
            <a href="/result/1">&laquo;</a>
            <a href="#" id="page_end">&raquo;</a>
          </div>
        </div>
      </div>
    </section>

    
    <section class="section bg-image overlay" style="background-image: url('images/hero_4.jpg');">
        <div class="container" >
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
              <h2 class="text-white font-weight-bold">A Best Place To Stay. Reserve Now!</h2>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
              <a href="reservation.html" class="btn btn-outline-white-primary py-3 text-white px-5">Reserve Now</a>
            </div>
          </div>
        </div>
      </section>

    <%- include partials/footer.ejs %>   
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    
    
    <script src="js/aos.js"></script>
    
    <script src="js/bootstrap-datepicker.js"></script> 
    <script src="js/jquery.timepicker.min.js"></script> 

    <script type="text/javascript">
      // yuantai fu
      function checkdate(){
          var months = {"January": "01", "February": "02", "March": "03", "April": "04", "May": "05", "June": "06", "July": "07", "August": "08", "September": "09", "October": "10", "November": "11", "December": "12" }
          var checkin_date = $('#checkin_date').val();
          var date_str = checkin_date.split(' ');
          var day = date_str[0];
          var month = months[date_str[1].replace(",", "")];
          var year = date_str[2];
          var checkinDate = new Date(year, month, day);

          var checkout_date = $('#checkout_date').val();
          var date_str = checkout_date.split(' ');
          var day = date_str[0];
          var month = months[date_str[1].replace(",", "")];
          var year = date_str[2];
          var checkoutDate = new Date(year, month, day);

          var todayDate = new Date();
          
          if ((checkoutDate > checkinDate) && (checkoutDate > todayDate) && (checkinDate > todayDate)) {
              return true
          }
          
          return true;
      }
      $( document ).ready(function() { 
        function renderResult(data) {
          var aval_room = data["aval_room"];
          var room_with_detail = data["room_with_detail"];
          console.log(room_with_detail);
          $('.room-for-book').remove();
          var dic = {}
          var count = 0;
          var page = '';
          var page_count = 0;

          for (var i in aval_room) {
            id = aval_room[i];
            dic[id] = true;
            count += 1;
            page_count = Math.ceil(count/9);
            if (count%9 == 1) { 
              page += '<a href="/result/' + page_count + '">' + page_count +'</a>'; 
            }
          }

          var isHide = false;
          for (var id in room_with_detail) {
            if (!isHide) $('#no_res').hide();
            var room = room_with_detail[id];
            var entry = '';
            var pAddress = room['pAddress'];
            var but_dis = '';
            var but_name = 'Book'
            var but_color = 'primary';
            var add_class = '';
            var isHide = '';
            var checkin_date = $('#checkin_date').val();
            var checkout_date = $('#checkout_date').val();
            var adults = $('#adults').children("option:selected").val();
            var children = $('#children').children("option:selected").val();
            // console.log(id);
            if (!(id in dic)) {
              console.log('in');
              but_color = 'secondary';
              but_dis = 'disabled';
              but_name = 'Sold Out!';
              add_class = 'not_available';
              if ($("#only").is(":disabled")) {   
              //--Prsiscilla
              //if ($("#available").is(":active")) {
                // if #avalable active, all select
                // if only disabled, all select
                isHide = 'hidden';
              }
            }
            if (pAddress == null) pAddress = '';

            entry += '<div class="room-for-book col-md-6 col-lg-4 mb-5 ' + add_class + '" data-aos="fade-up" ' + isHide + '>' + 
                        '<div>' + 
                          '<figure class="img-wrap">' + 
                            '<img class="room-img" src="' + pAddress + '" alt="picture of ' + room['name'] + '" class="img-fluid mb-3">' +
                          '</figure>' + 
                          '<div class="p-3 text-center room-info">' + 
                            '<h2>' + room['name'].toUpperCase() + '</h2>' + 
                            '<span class="text-uppercase letter-spacing-1">' + room['price'] + '$ / per night</span>' +
                          '</div>' + 
                        '</div>' +
                        '<div class="form-wrapper" style="text-align:center;">' + 
                          '<form id="form' + id + '" action="/reservation" method="GET">' + 
                            '<input type="hidden" name="checkin_date" value="' + checkin_date + '">' +
                            '<input type="hidden" name="checkout_date" value="' + checkout_date + '">' +
                            '<input type="hidden" name="adults" value=' + adults + '>' +
                            '<input type="hidden" name="children" value=' + children + '>' +
                            '<input type="hidden" name="id" value=' + room['id'] + '>' +
                            '<input type="hidden" name="name" value=' + room['name'] + '>' +
                            '<input type="hidden" name="price" value=' + room['price'] + '>' +
                            '<input type="hidden" name="feature" value="' + room['feature'] + '">' +
                            '<input type="hidden" name="pAddress" value="' + pAddress + '">' +
                            <% if (username) { %>
                            '<button class="btn btn-' + but_color + '" type="submit" form="form'+ id + '" ' + but_dis + '>' + but_name + '</button>' + 
                            <% } else { %>
                            '<button class="btn btn-' + but_color + '" type="button" data-toggle="modal" data-target="#loginModal">' + but_name + '</button>' + 
                            <% } %>
                          '</form>' + 
                          '</div>' + 
                      '</div>';

            $('#res_sum').text(count + ' avaliable rooms are found ...');
            $('#aval_rooms').append(entry);
            // $('#page_start').append(page);
            $("#page_end").attr("src","/results/page_count");
          }
        }

        function getResult() {

        }

        var queryProvided = <%= queryProvided%>;
        console.log(queryProvided);
        if (queryProvided) {
          $('#checkin_date').val("<%= checkin_date%>");
          $('#checkout_date').val("<%= checkout_date%>");
          $("#adults").val(<%= adults%>);
          $("#children").val(<%= children%>);
          var form = $('#searchform');
          var url = form.attr('action');
          $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {
              console.log('results are back');
              console.log(data);
              renderResult(data);
            }
          });
        }
        
        $('#all').on("click", function() {
          $("#only").removeAttr('disabled');
          $(this).prop('disabled',true);
          $('.not_available').show();
        });

        $('#only').on("click", function() {
          $("#all").removeAttr('disabled');
          $(this).prop('disabled',true);
          $('.not_available').hide();
        });

        //Priscilla 
        // $('#available').click(function(){
        //   $(this).toggleClass("active");
        //   var act = $(this).prop("active");
        //   console.log('active?');
        //   console.log(act);
        //   if(!) {
        //     $('.not_available').hide();
        //   }
        // });
        // $('#available').on("click", function() {
        //   $(this).toggleClass('active');
        //   if ($(this).prop("active")) {
          // $('.not_available').hide();
        // }
        // });


        $('#searchform').submit(function(e) {
          e.preventDefault(); // avoid to execute the actual submit of the form.
          //Eric
          if (!checkdate())
            return false;
          // 
          var form = $(this);
          var url = form.attr('action');
          $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(), // serializes the form's elements.
            success: function(data)
            {
              console.log('results are back');
              console.log(data);
              renderResult(data);
            }
          });
        });
      });
    </script>

    <script src="js/main.js"></script>
  </body>
</html>
