<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>All rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <link rel="stylesheet" href="css/fancybox.min.css">
    
    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
    <%- include partials/header.ejs %>   
    
    <section class="site-hero inner-page overlay" style="background-image: url(images/hero_4.jpg)" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade">
            <h1 class="heading mb-3">Rooms</h1>
            <ul class="custom-breadcrumbs mb-4">
              <li><a href="/index">Home</a></li>
              <li>&bullet;</li>
              <li>Rooms</li>
            </ul>
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>
    <!-- END section -->

    <section class="section bg-light pb-0"  >
      <div class="container">
        <div class="row check-availabilty" id="next">
          <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

            <form id="searchform" action="/result" method="GET">
              <div class="row">
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="text" id="checkin_date" name="checkin_date" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="text" id="checkout_date" name="checkout_date" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                  <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="adults" class="font-weight-bold text-black">Adults</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select  id="adults" name="adults" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4+</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="children" class="font-weight-bold text-black">Children</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select id="children" name="children" class="form-control">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 align-self-end">
                  <button class="btn btn-primary btn-block text-white">Check Availabilty</button>
                </div>
              </div>
            </form>
          </div>


        </div>
      </div>
    </section>

    
    <section class="section">
      <div class="container">

        <% if (userrole) { %>
        <div class="col-md-6 col-lg-3" style="float: right;">
            <a href="/addrooms" class="btn btn-info btn-block text-white">Add a room type</a>
        </div>
        <br>
        <% } %>

        <div class="row">
          <% for(var i=0; i < rooms.length; i++) { %>
            <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
                <a href="/room/<%= rooms[i].room_id %>" class="room">
                    <figure class="img-wrap">
                        <% if (rooms[i].rooms_availability) { %>
                        <img class="room-img" src="<%= rooms[i].photo_address %>" alt="Free website template" class="img-fluid mb-3">
                        <% } else { %>
                        <img class="room-img" src="<%= rooms[i].photo_address %>" alt="Free website template" class="img-fluid mb-3" style="filter: grayscale(100%);">
                        <% } %>
                    </figure>
                    <div class="p-3 text-center room-info">
                        <h2><%= rooms[i].room_name %></h2>
                        <span class="text-uppercase letter-spacing-1"><%= rooms[i].room_price %>$ / per night</span>
                    </div>
                </a>
                <% if (userrole) { %>
                <div class="form-wrapper" style="text-align:center;"> 
                    <a class="btn btn-secondary" href="/edit/<%= rooms[i].room_id %>" role="button"> Edit </a>
                    <% if (rooms[i].rooms_availability) { %>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal" id="dbtn-<%= rooms[i].room_id %>" onclick="getid(this.id)">
                        Delete
                    </button>
                    <% } else { %>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#enableModal" id="enbtn-<%= rooms[i].room_id %>" onclick="getid(this.id)">
                        Enable
                    </button>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
      

      </div style="text-align:center;">
        <nav aria-label="Page navigation example">
          <ul class="pagination" class="center">
            <% if (current_page == 1) { %>
            <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
            <% } else { %>
              <li class="page-item">
              <a class="page-link" href="/rooms/<%= current_page-1 %>" aria-label="Previous">
            <% } %> 
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
            </li>
            <% for (var i = 1; i <= pages; i++ ) { %>
            <% if (i == current_page) { %>
            <li class="page-item active"><a class="page-link" href="#"><%= i %></a></li>
              <% } else { %>
              <li class="page-item"><a class="page-link" href="/rooms/<%= i %>"><%= i %></a></li>
              <% } %> 
              <% } %>
              <% if (current_page == pages) { %>
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                  <% } else { %>
                  <li class="page-item">
                    <a class="page-link" href="/rooms/<%= current_page+1 %>" aria-label="Next">
                      <% } %>
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
    
    
    <section class="section bg-image overlay" style="background-image: url('images/hero_4.jpg');">
      <div class="container" >
        <div class="row align-items-center">
          <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
            <h2 class="text-white font-weight-bold">A Best Place To Stay. Reserve Now!</h2>
          </div>
          <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
            <a href="reservation.html" class="btn btn-outline-white-primary py-3 text-white px-5">Reserve Now</a>
          </div>
        </div>
      </div>
    </section>
    
    <% if (userrole) { %>
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">Confirm to delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will only change the room to unavailable
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="proceed" >Proceed</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="enableModal" tabindex="-1" role="dialog" aria-labelledby="enableModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">Confirm to enable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Change the room to available
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="proceed-en">Proceed</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="invalidsearchModal" tabindex="-1" role="dialog" aria-labelledby="invalidsearchModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel">Invalid search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please search a valid date
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <form action="/delete" id="delete" method="POST">
        <input type="hidden" name="room_id" id="rm_room_id" value="">
    </form>
    
    <form action="/enable" id="enable" method="POST">
        <input type="hidden" name="room_id" id="en_room_id" value="">
    </form>

    <% } %>

    
    <%- include partials/footer.ejs %>   
    
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    
    
    <script src="js/aos.js"></script>
    
    <script src="js/bootstrap-datepicker.js"></script> 
    <script src="js/jquery.timepicker.min.js"></script> 

    <script src="js/main.js"></script>
    <script>
        $(document).ready(function(){
            $('#searchform').submit(function(e) {
                e.preventDefault(); // avoid to execute the actual submit of the form.
                //Eric
                if (checkdate()) {
                    this.submit();
                }
            });
            <% if (userrole) { %>
            $("#proceed").click(function(){        
                $("#delete").submit(); // Submit the form
            });
            $("#proceed-en").click(function(){        
                $("#enable").submit(); // Submit the form
            });
            <% } %>
        });
        function getid(btn_id) {
            var regex = /\d+/g;
            var arr_room_id = btn_id.match(regex);
            var room_id = arr_room_id[0];
            console.log(room_id);
            $('#rm_room_id').val(room_id);
            $('#en_room_id').val(room_id);
            console.log($('#rm_room_id').val());
            console.log($('#en_room_id').val());
        }
        function checkdate(){
          var months = {"January": "00", "February": "01", "March": "02", "April": "03", "May": "04", "June": "05", "July": "06", "August": "07", "September": "08", "October": "09", "November": "10", "December": "11" }
          var checkin_date = $('#checkin_date').val();
          var date_str = checkin_date.split(' ');
          var day = date_str[0];
          var month = months[date_str[1].replace(",", "")];
          var year = date_str[2];
          var checkinDate = new Date(year, month, day);

          var checkout_date = $('#checkout_date').val();
          var date_str = checkout_date.split(' ');
          var day = date_str[0];
          var month = months[date_str[1].replace(",", "")];
          var year = date_str[2];
          var checkoutDate = new Date(year, month, day);

          var todayDate = new Date();

          if ((checkoutDate > checkinDate) && (checkoutDate > todayDate) && (checkinDate > todayDate)) {
              return true
          }
          $('#invalidsearchModal').modal('show');
          return false;
      }

    </script>

  </body>
</html>
